[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = ">=3.0.0"
polars = "*"
numpy = ">=2.1.0"
scipy = ">=1.15.0"
psutil = "*"
maturin = "*"
setuptools-rust = "*"
kneed = "*"

[dev-packages]
sphinx = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"
pytest = "*"
setuptools-scm = "*"

[pipenv]
allow_prereleases = true
